In [1]:
import pandas as pd

In [2]:
bengali = pd.read_csv('final_bengali.csv')
gujarati = pd.read_csv('final_gujarati.csv')
hindi = pd.read_csv('final_hindi.csv')
marathi = pd.read_csv('final_marathi.csv')
punjabi = pd.read_csv('final_punjabi.csv')
tamil = pd.read_csv('final_tamil.csv')
telugu = pd.read_csv('final_telugu (1).csv')

In [3]:
len_bengali = len(bengali)
len_gujarati = len(gujarati)
len_hindi = len(hindi)
len_marathi = len(marathi)
len_punjabi = len(punjabi)
len_tamil = len(tamil)
len_telugu = len(telugu)

In [4]:
bengali_1 = bengali[bengali['result'] == 1]
bengali_0 = bengali[bengali['result'] == 0]

gujarati_1 = gujarati[gujarati['result'] == 1]
gujarati_0 = gujarati[gujarati['result'] == 0]

hindi_1 = hindi[hindi['result'] == 1]
hindi_0 = hindi[hindi['result'] == 0]

marathi_1 = marathi[marathi['result'] == 1]
marathi_0 = marathi[marathi['result'] == 0]

punjabi_1 = punjabi[punjabi['result'] == 1]
punjabi_0 = punjabi[punjabi['result'] == 0]

tamil_1 = tamil[tamil['result'] == 1]
tamil_0 = tamil[tamil['result'] == 0]

telugu_1 = telugu[telugu['result'] == 1]
telugu_0 = telugu[telugu['result'] == 0]

In [5]:
random_bengali_1 = bengali_1[:2250]
random_bengali_0 = bengali_0[:2250]

random_gujarati_1 = gujarati_1[:2250]
random_gujarati_0 = gujarati_0[:2250]

random_hindi_1 = hindi_1[:2413]
random_hindi_0 = hindi_0[:2250]

random_marathi_1 = marathi_1[:2250]
random_marathi_0 = marathi_0[:2250]

random_punjabi_1 = punjabi_1[:2250]
random_punjabi_0 = punjabi_0[:2250]

random_tamil_1 = tamil_1[:2452]
random_tamil_0 = tamil_0[:2250]

random_telugu_1 = telugu_1[:2250]
random_telugu_0 = telugu_0[:2250]

In [6]:
random_telugu_1

      Unnamed: 0                                        telugu_text  result
0              0  మీ డ్రాయింగ్ నిప్పంటించబడితే , ప్రపంచానికి అను...       1
1              1  నన్ను అర్థం చేసుకోవడానికి ప్రయత్నిస్తుంది కాని...       1
2              2  వారి భాష గ్రహించలేనిది , ఎమోజి మరియు యాస వారి ...       1
3              3  ప్రోగ్రామింగ్ జీవితం అయితే జీవితం చాలా ఒత్తిడి...       1
7              7  చిత్రంలో చాలా ప్రత్యేక ప్రభావాలు ఉన్నాయి , నేన...       1
...          ...                                                ...     ...
4453        4453  నాటకం చాలా సరదాగా ఉంటుంది , నేను మధ్యలో నవ్వుత...       1
4454        4454  ఆసుపత్రి , ఇది ధనికులకు చికిత్స చేయడానికి  మార...       1
4456        4456  మీరు వ్యాయామశాలలో కొత్త వ్యాయామం చేస్తున్నట్లు...       1
4457        4457        మీరు ఎప్పుడైనా ఇంత చెడ్డ డ్రాయింగ్ చూశారా ?       1
4459        4459  ``  డ్రాయింగ్ చూస్తే ,  యొక్క అన్ని నియమాలు పన...       1

[2250 rows x 3 columns]

In [7]:
len(tamil_0)

2048

In [8]:
combined_bengali = pd.concat([random_bengali_0, random_bengali_1], ignore_index=True)
combined_gujarati = pd.concat([random_gujarati_0, random_gujarati_1], ignore_index=True)
combined_hindi = pd.concat([random_hindi_0, random_hindi_1], ignore_index=True)
combined_marathi = pd.concat([random_marathi_0, random_marathi_1], ignore_index=True)
combined_punjabi = pd.concat([random_punjabi_0, random_punjabi_1], ignore_index=True)
combined_tamil = pd.concat([random_tamil_0, random_tamil_1], ignore_index=True)
combined_telugu = pd.concat([random_telugu_0, random_telugu_1], ignore_index=True)

In [9]:
print("Length of Bengali DataFrame:", len(combined_bengali))
print("Length of Gujarati DataFrame:", len(combined_gujarati))
print("Length of Hindi DataFrame:", len(combined_hindi))
print("Length of Marathi DataFrame:", len(combined_marathi))
print("Length of Punjabi DataFrame:", len(combined_punjabi))
print("Length of Tamil DataFrame:", len(combined_tamil))
print("Length of Telugu DataFrame:", len(combined_telugu))

Length of Bengali DataFrame: 4500
Length of Gujarati DataFrame: 4500
Length of Hindi DataFrame: 4500
Length of Marathi DataFrame: 4500
Length of Punjabi DataFrame: 4500
Length of Tamil DataFrame: 4500
Length of Telugu DataFrame: 4500

In [27]:
combined_bengali.rename(columns={'bengali_text': 'text'}, inplace=True)
combined_gujarati.rename(columns={'guj_text': 'text'}, inplace=True)
combined_hindi.rename(columns={'Text': 'text'}, inplace=True)
combined_marathi.rename(columns={'marathi_text': 'text'}, inplace=True)
combined_punjabi.rename(columns={'punjabi_text': 'text'}, inplace=True)
combined_tamil.rename(columns={'tamil_text': 'text'}, inplace=True)
combined_telugu.rename(columns={'telugu_text': 'text'}, inplace=True)

In [28]:
combined_hindi

      Unnamed: 0                                               text  result
0              0  सूरज निकलता है , अंधेरे का अंत होता है , मुश्क...       0
1              1  सूरज ढलता है , सितारा जगता है , हार से घबराओ ,...       0
2              3      पहाड़ों की ऊंचाई छू लो , अपने लक्ष्यों पहुंचो       0
3              4   फूलों की हँसी सुनो , सकारात्मकता का हार खिलखिलाओ       0
4              6  अहमदाबाद का साबरमती रिवरफ्रंट , विकास का दर्पण...       0
...          ...                                                ...     ...
4495        4404  कवि की कविताएं इतनी गहरी हैं कि उनका समझने के ...       1
4496        4406    इंसान ही बना रहे हैं हथियार , फिर क्यों है से ?       1
4497        4407  ये गाना इतना बेकार है कि शब्दों में बयां नहीं ...       1
4498        4409  आपका तो सिर्फ़ ही विचार है , कुछ है तो आपका ही...       1
4499        4410  मूर्ति को बनाने में कलाकार ने इतनी मेहनत की है...       1

[4500 rows x 3 columns]

In [29]:
all_combined = pd.concat([combined_bengali, combined_gujarati, combined_hindi, combined_marathi, combined_punjabi, combined_tamil, combined_telugu], ignore_index=True)

In [30]:
all_combined

       Unnamed: 0                                               text  result
0               1  হাসি সর্বাধিক সুন্দর গহনা , সর্বদা এটি পরেন , ...       0
1               2  কৃষকদের হাতে পৃথিবীর গান , আন্নাদাতার শ্রম থেক...       0
2               3  সততার সূর্যকে আলোকিত করুন , নামটি আলোকিত করুন ...       0
3               5  ঘৃণার অন্ধকার রাতটি সরিয়ে দিন , ভালবাসার প্রদ...       0
4               7                 সততার সংগীত , শ্রদ্ধার সুরেলা রাগ।       0
...           ...                                                ...     ...
31495        4453  నాటకం చాలా సరదాగా ఉంటుంది , నేను మధ్యలో నవ్వుత...       1
31496        4454  ఆసుపత్రి , ఇది ధనికులకు చికిత్స చేయడానికి  మార...       1
31497        4456  మీరు వ్యాయామశాలలో కొత్త వ్యాయామం చేస్తున్నట్లు...       1
31498        4457        మీరు ఎప్పుడైనా ఇంత చెడ్డ డ్రాయింగ్ చూశారా ?       1
31499        4459  ``  డ్రాయింగ్ చూస్తే ,  యొక్క అన్ని నియమాలు పన...       1

[31500 rows x 3 columns]

In [31]:
all_combined.to_csv('all_final.csv')

In [32]:
print("Length of Bengali DataFrame:", len_bengali)
print("Length of Gujarati DataFrame:", len_gujarati)
print("Length of Hindi DataFrame:", len_hindi)
print("Length of Marathi DataFrame:", len_marathi)
print("Length of Punjabi DataFrame:", len_punjabi)
print("Length of Tamil DataFrame:", len_tamil)
print("Length of Telugu DataFrame:", len_telugu)

Length of Bengali DataFrame: 8489
Length of Gujarati DataFrame: 5941
Length of Hindi DataFrame: 4594
Length of Marathi DataFrame: 10694
Length of Punjabi DataFrame: 10564
Length of Tamil DataFrame: 7038
Length of Telugu DataFrame: 6336

In [13]:
# part - 1 : Bengali , Marathi , Punjabi : 4500
    
# part - 2 : Tamil , Telugu : 4500
    
# part - 3 : Gujarati , Hindi : 4500